<ion-view>
  <ion-content class="padding">
    <div style="padding:50px;text-align:center;">
      Sample Login
    </div>  
    <div class="list">
        <label class="item item-input">
          <span class="input-label" ng-model="username">Username</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label" ng-model="password">Password</span>
          <input type="password">
        </label>
        <div style="padding-top:10px;">
          <center>
              <button class="button button-full button-positive" ng-click="loginUser()">
                Login
              </button>
          </center> 
        </div>   
      </div>
  </ion-content>
</ion-view>