<ion-view>
      <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">sample test</h1>
      </ion-header-bar>
      <ion-content>
        <ul>
          <li ng-repeat="question in questions">
           <strong class="question"> {{$index+1}}. {{ question.questionText }}</strong>
           <ul style="padding:5px;text-align:center;">
            <span ng-repeat="answer in question.answers">
              <label>
                <input type="radio"
                ng-model="answers[$parent.$index]" value="{{ answer.answerText }}"  /> {{ answer.answerText }}
              </label>
            </span>
           </ul>
          </li>
        </ul>
        <div style="padding-top:10px;">
          <center>
        <button class="button button-positive button-small" type="submit" ng-click="showResult()">Submit</button>
          </center>
      </ion-content>
</ion-view>